body {
  background:rgba(0,0,0,.5);
}

.App {
  text-align: center;
}

.App-header {
  background-color: #4169e1;
  padding: 10px;
  height: 60px;
  color: white;
  text-align: left;
  font-family: 'Brush Script MT', cursive;
}

.Tile {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.Name {
  width: 50%;
  display: flex;
  align-items: center;
  float: left;
}

.Dropbtn {
    font-family: 'Georgia', serif;
    background-color: #4169e1;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 1px solid white;
}

.Dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.Dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 1;
}

.Dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.Dropdown-content a:hover {background-color: #f1f1f1}

.Dropdown:hover .Dropdown-content {
    display:block;
}

.Dropdown:hover .Dropbtn {
    background-color: rgba(0,0,0,.4);
}

.MainTile {
  background-image: url('cherryblossoms.jpg');
  height:200px;
  width: 100%;
}

.EndTile {
  background-image: url('cherryblossoms.jpg');
  height:200px;
  width: 100%;
}

.Title {
  background-color: rgba(0,0,0,.5);
  height:100%;
  width: 100%;
  color: white;
  font-family: 'Georgia', serif;
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}

.Title h1 {
  font-style: italic;
}

.App-intro {
  font-size: large;
  text-align: center;
}
