:root {
  --minispacing: .75%;
  --spacing: 10px;
  --miniheight: 200px;
  --miniwidth: 46%;
  --small: 100px;
  --medium: 220px;
  --large: 340px;
  --xlarge: 460px;
  --xxlarge: 940px;
  --regular: calc(50% - 35px);
  --wide: calc(100% - 35px);
}

.CountdownTile {
  height: var(--small);
  width: var(--regular);
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  padding-top: var(--spacing);
  margin-left: var(--spacing);
  margin-right: var(--spacing);
  margin-top: var(--spacing);
  background-color: rgba(255,255,255,.5);
  font-family: 'Arial', sans-serif;
  float: left;
}

.LettersTile {
  height: var(--medium);
  width: var(--regular);
  padding-right: var(--spacing);
  padding-top: var(--spacing);
  padding-left: var(--spacing);
  margin-right: var(--spacing);
  margin-top: var(--spacing);
  background-color: rgba(255,255,255,.5);
  font-family: 'Arial', sans-serif;
  float: right;
}
.LettersTable {
  height: 150px;
  overflow: auto;
}
.LettersTable ul {
  list-style-type: none;
}

.BLTile {
  height: var(--small);
  width: var(--regular);
  padding-right: var(--spacing);
  padding-top: var(--spacing);
  padding-left: var(--spacing);
  margin-left: var(--spacing);
  margin-right: var(--spacing);
  margin-top: var(--spacing);
  background-color: rgba(255,255,255,.5);
  font-family: 'Arial', sans-serif;
  float: left;
}

.PhotosTile {
  height: var(--xxlarge);
  width: var(--regular);
  padding-right: var(--spacing);
  padding-top: var(--spacing);
  padding-left: var(--spacing);
  margin-left: var(--spacing);
  margin-right: var(--spacing);
  margin-top: var(--spacing);
  background-color: rgba(255,255,255,.5);
  font-family: 'Arial', sans-serif;
  float: left;
  overflow: auto;
}

.DistanceTile {
  height: var(--xlarge);
  width: var(--regular);
  padding-right: var(--spacing);
  padding-top: var(--spacing);
  padding-left: var(--spacing);
  margin-right: var(--spacing);
  margin-top: var(--spacing);
  background-color: rgba(255,255,255,.5);
  font-family: 'Arial', sans-serif;
  float: right;
}

.CalendarTile{
  height: var(--xlarge);
  width: var(--regular);
  padding-right: var(--spacing);
  padding-top: var(--spacing);
  padding-left: var(--spacing);
  margin-right: var(--spacing);
  margin-top: var(--spacing);
  background-color: rgba(255,255,255,.5);
  font-family: 'Arial', sans-serif;
  float: right;
}
.CalendarObject {
  overflow: auto;
  height: 400px;
}

.GamesTile {
  height: var(--xlarge);
  width: var(--regular);
  padding-right: var(--spacing);
  padding-top: var(--spacing);
  padding-left: var(--spacing);
  margin-right: var(--spacing);
  margin-top: var(--spacing);
  background-color: rgba(255,255,255,.5);
  font-family: 'Arial', sans-serif;
  float: right;
}

.MiniTileLeft {
  height: var(--miniheight);
  width: var(--miniwidth);
  padding-right: var(--minispacing);
  padding-left: var(--minispacing);
  padding-top: var(--minispacing);
  margin-right: var(--minispacing);
  margin-left: var(--minispacing);
  margin-top: var(--minispacing);
  background-color: rgba(255,255,255,.75);
  float:left;
}
.MiniTileRight {
  height: var(--miniheight);
  width: var(--miniwidth);
  padding-right: var(--minispacing);
  padding-left: var(--minispacing);
  padding-top: var(--minispacing);
  margin-right: var(--minispacing);
  margin-left: var(--minispacing);
  margin-top: var(--minispacing);
  background-color: rgba(255,255,255,.75);
  float:right;
}

.TileTitle {
  font-family: 'Georgia',serif;
  font-size: large;
  text-align: left;
}
